@import '../../assets/css/var.less';

.build-container {
  padding: 20px;
  .origin-projects,
  .locale-projects {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
  }
  .ivu-row {
    .ivu-col {
      .ivu-card {
        height: 300px;
        margin-bottom: 20px;
        .build-ul {
          li {
            padding: 5px 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .ivu-tooltip {
            width: 100%;
          }
          .title-color {
            color: #17233d;
            font-weight: bold;
          }
          .build-svn,
          .build-ssh,
          .build-des {
            p {
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              .svn-color {
                color: #19be6b;
                font-weight: bold;
              }
              .ssh-color {
                color: #ff9900;
                font-weight: bold;
              }
              .des-color {
                color: #ed4014;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

.build-control {
  li {
    position: relative;
    padding-bottom: 10px;
    cursor: pointer;
    &:hover {
      color: @basic-color;
      &:after {
        background: @basic-color;
      }
    }
    &:after {
      content: '';
      width: 90%;
      position: absolute;
      height: 1px;
      background: #d4cbcb;
      bottom: 8px;
      left: 0;
    }
  }
}
